<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <meta charset="UTF-8">
    <title>Testing</title>


</head>
<body>

<h1>Stock Tracker App</h1>

{#<div class="jumbotron jumbotron-fluid">#}
{#  <div class="container">#}
{#    <h1 class="display-4">Technical Indicators App</h1>#}
{#    <p class="lead">Enter a Stock Symbol </p>#}
{#  </div>#}
{#</div>#}

<form action={{ url_for('show_data') }} method="post">
    Enter Stock Name: <input type="text" name="stockName"><br>

    <input type="submit" value="Submit">
</form>


{#    <table>#}
{#        <tr>#}
{#            <th>Symbol</th>#}
{#            <th>Name</th>#}
{#            <th>Sector</th>#}
{#            <th>Industry</th>#}
{#        </tr>#}
{#        {% for stock in nasdaq_stocks %}#}
{#            <tr>#}
{#                <td>{{ stock.symbol }}</td>#}
{#                <td>{{ stock.name }}</td>#}
{#                <td>{{ stock.sector }}</td>#}
{#                <td>{{ stock.industry }}</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#    </table>#}

</body>
</html>