<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Data</title>
</head>
<body>

<form action={{ url_for('show_data') }} method="post">
    Enter Stock Name: <input type="text" name="stockName"><br>

    <input type="submit" value="Submit">
</form>


<h1>{{ stock_name }}</h1>
<table>
    {% for section in basic_info %}
        <tr>
            {% for title_value in section %}
                <td>{{ title_value }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>


</body>
</html>